<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>

<body>
 
    <h3>
  Welcome 
    </h3>
<div>
    
 <%if ((user_id)) {%>  
      <%= user_id %> 
        <form action="/logout" method="POST">
        <input type="submit" value="logout" />
  <%} else {%>  
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <%}%> 


</div>    

<p>Go back to <a href="/urls">home page</a></p> 
</body>
</html>




