<!DOCTYPE html>
<html>

<head>
  
</head>

<body>
  <h1>
    Login!
  </h1>

  <div>
    <a href="<%= /urls/i %>">Back to Home</a>
  </div>

  <div>
    <a href="/register">register here</a>
  </div>


      
  
  <form action="/login" method="POST">
    <div>
      <label for="email">email:</label>
      <input type="text" name="email" placeholder="Enter your email" />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Enter your Password" />
    </div>

    <div>
      <input type="submit" value="Login" />


    
     
    </div>
  

  </form>

</body>

</html>