<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
      <header>
    <% include ./partials/_header %>
</header>
    <h1>My URL Shortener</h1>
  

    <ul>
    <% for (var i in urls) { %>
        <li><%= i %> : <%= urls[i] %></li>
    <% }; %>
</ul>


<!-- <p>Go back to <a href="/">home page</a></p> -->

</body>
</html>
