<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
      <header>
    <% include ./partials/_header %>
</header>
    <h1>My URL Shortener</h1>
  			
        <p>

        	<form method="POST" action="/urls/<%= shortURL %>">
        	
        	<%= shortURL %> : <%= longURL %>
        		
        		<input type="text" name="changeURL" placeholder="http://" style="width: 300px">

        	</p>

        	</form>	

<!-- <p>Go back to <a href="/">home page</a></p> -->

</body>
</html>